<h1>{{ name }}</h1>
<!-- <h1 [innerText]="name"></h1> -->
<p>{{ name }}</p>
<!-- <a href="{{ googleURL }}" target="_blank">Go to Google</a><br /> -->
<!-- <a [href]="googleURL" target="_blank">Go to Google</a><br />
<input type="text" [value]="name" /><br /><br />
<table>
  <tr>
    <th [attr.colspan]="colSpan">Name</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>43</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>57</td>
  </tr>
</table>
<button class="btn btn-primary" (click)="onBtnClick()">Click me</button>
<div>
  <button class="btn btn-primary" (click)="BtnR()">-</button>
  <h3>{{ "Count : " + count }}</h3>
  <h3>{{ getTitle() + count }}</h3>
  <button class="btn btn-primary" (click)="BtnA($event)">+</button>
</div>
<input type="text" [(ngModel)]="name" (keyup.enter)="onClick()" />
<ul>
  <li *ngFor="let item of listTodoB">
    {{ item.content }}
    <button class="btn btn-primary" (click)="BtnD(item.content)">Delete</button>
    <button
      class="btn btn-primary text-decoration-line"
      (click)="BtnC(item.id)"
    >
      Complete
    </button>
  </li>
</ul>
<button class="btn btn-primary mx-5" (click)="onClick()">Add To do</button>
<div *ngIf="temp">
  <h1>Hello World</h1>
</div>
<div *ngIf="temp; else Block">
  <h1>Hello World</h1>
</div>
<div #Block>Condition is Fail</div>
<div [ngSwitch]="colSpan">
  <div *ngSwitchCase="1">Output 1</div>
  <div *ngSwitchCase="2">Output 2</div>
  <div *ngSwitchCase="3">Output 3</div>
  <div *ngSwitchDefault="1">Default</div>
</div> -->
<!-- class binding -->
<!-- <ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="selectedNavTab === 'tab1'"
      (click)="BtnTab('tab1')"
      href="#"
      >Active</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="selectedNavTab === 'tab2'"
      (click)="selectedNavTab = 'tab2'"
      href="#"
      >Tab</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      [class.active]="selectedNavTab === 'tab3'"
      (click)="BtnTab('tab3')"
      href="#"
      >Link</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul> -->
<!-- style binding -->
<!-- <p class="text-capitalize" [style.color]="'red'">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum consectetur
  rerum ducimus, placeat perferendis illo nesciunt fugit totam obcaecati quas
  fuga similique molestias ab! Voluptatibus magni nobis assumenda a voluptas.
</p>
<input type="text" [(ngModel)]="userName" (blur)="onBlur()" />
<h2>{{ userName }}</h2> -->

<div class="row mt-5">
  <div class="col-4">
    <form>
      <div class="form-group">
        <label>Todo name:</label>
        <input
          type="text"
          name="newTodo"
          #todoInput
          class="form-control"
          [(ngModel)]="newTodo"
          (keyup.enter)="addNewTodo(todoInput)"
        />
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
  <div class="col8">
    <ul class="list-group">
      <li
        class="list-group-item text-capitalize d-flex justify-content-between"
        *ngFor="let todo of todos; let i = index"
      >
        <span [class.completed]="todo.completed" (click)="toogleTodo(i)"
          >{{ i + 1 }}.{{ todo.title }}</span
        >
        <button class="btn btn-danger" (click)="deleteTodo(i)">Delete</button>
      </li>
    </ul>
  </div>
</div>
